<!-- <div class="container">
  <div class="upper-data">
    <img src="../assets/cold1.jpg" alt="" *ngIf="14 > 15">

    <img src="../assets/hot.png" alt="" *ngIf="14 <= 15" width:20px>
    <div class="weather-data">
      <div class="location">
        wellington
      </div>
      <div class="temperature">
        {{14.40 |number:'1.0-0'}}°C
      
      </div>
    </div>
  </div>
  
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/new/minTemp-removebg-preview.png"  alt="">
          <span>min</span>
        </div>
        <div class="infor-block-value">10°C</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/new/tempMax-removebg-preview.png"  alt="">
          <span>max</span>
        </div>
        <div class="infor-block-value">40°C</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/new/humidity-removebg-preview.png"  alt="">
          <span>humidity</span>
        </div>
        <div class="infor-block-value">77%</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/new/windWind-removebg-preview.png"  alt="">
          <span>wind</span>
        </div>
        <div class="infor-block-value">11km/h</div>
      </div>
    </div>
  </div>
</div> -->
<div class="main">
  <div class="search">
    <form #form = "ngForm" (submit)="onSubmit()">
      <input type="text" placeholder="Search City" name="city" [(ngModel)]="cityName">
    </form>
  </div>

  <div class="container" *ngIf="weatherData">
    <div class="upper-data">
      <img src="../assets/hot.png" alt="" *ngIf="weatherData.main.temp > 15">

      <img src="../assets/cold1.jpg" alt="" *ngIf="weatherData.main.temp <= 20" width:20px>
      <div class="weather-data">
        <div class="location">
          {{weatherData.name}}
        </div>
        <div class="temperature">
          {{weatherData.main.temp | number:'1.0-0'}} °C
        </div>
      </div>
    </div>

    <div class="lower-data">
      <div class="more-info-label">
        More Information
      </div>
      <div class="more-info-container">
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/new/minTemp-removebg-preview.png" alt="">
            <!-- <mat-icon aria-hidden="false" aria-label="Example home icon"></mat-icon> -->
            <span>min</span>
          </div>
          <div class="infor-block-value">{{weatherData.main.temp_min | number:'1.0-0'}}</div>
        </div>

        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/new/tempMax-removebg-preview.png" alt="">
            <span>max</span>
          </div>
          <div class="infor-block-value">{{weatherData.main.temp_max | number:'1.0-0'}}</div>
        </div>

        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/new/humidity-removebg-preview.png" alt="">
            <span>humidity</span>
          </div>
          <div class="infor-block-value">{{weatherData.main.humidity}}%</div>
        </div>

        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/new/windWind-removebg-preview.png" alt="">
            <span>wind</span>
          </div>
          <div class="infor-block-value">{{weatherData.wind.speed}}km/h</div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>